<div class="main">
  <div class="header">
    <%= link_to "Page Loader", welcome_photos_path, class: 'logo' %>
    <div class="header-right">
      <%= link_to "Lazy Load", welcome_photos_lazy_load_path %>
      <%= link_to "WebP", welcome_photos_webp_path %>
      <%= link_to "WebP+Lazy", welcome_photos_lazy_load_webp_path %>
    </div>
  </div>
</div>
